nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  .title-link {
    flex: 0 0 auto;
  }

  .links {
    display: flex;

    a {
      font-size: 0.8rem;
    }

    .about {
      margin-right: 0.5rem;
    }
  }
}

.router-outlet {
  margin: 2rem 1rem;
}
