:host {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.blog-article-summary {
  text-align: center;

  .title {
    font-size: 1rem;
  }

  .read-more-button {
    padding: 0.1rem 0.3rem;
    border: 1px solid black;
    border-radius: 0.3rem;
  }
}
