.blog-article-summary {
  display: flex;
  flex-flow: row nowrap;

  .title {
    margin-right: 0.5rem;
    text-align: end;
  }

  .body-preview-container {
    display: flex;
    flex-flow: column wrap;

    .body-preview {
      margin-bottom: 1em;
      font-size: 0.75rem;
      line-height: 1em;
      height: 7em;
      overflow: hidden;
    }

    .read-more-button {
      align-self: flex-end;
      width: 3rem;
      padding: 0.1rem 0.3rem;
      border: 0.01rem solid black;
      border-radius: 0.3rem;
      text-align: center;
    }
  }
}
