:host {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.blog-article-summary {
  display: flex;
  flex-flow: row nowrap;

  .title {
    font-size: 1rem;
    font-weight: bold;
    text-align: end;
  }

  .bodyPreviewContainer {
    display: flex;
    flex-flow: column wrap;

    .bodyPreview {
      flex: 0 1 20%;
    }

    .readMoreButton {
      align-self: flex-end;
      width: 3rem;
      padding: 0.1rem 0.3rem;
      border: 0.01rem solid black;
      border-radius: 0.3rem;
      text-align: center;
    }
  }
}
